<div class="gh-stats-tabs">
    <button type="button" class="gh-stats-tab {{if this.visitsTabSelected 'is-selected'}}" {{on "click" this.changeTabToVisits}}>
        <Stats::Parts::Metric
            @label="Unique visitors"
            @value="1,209" />
    </button>

    <button type="button" class="gh-stats-tab {{if this.pageviewsTabSelected 'is-selected'}}" {{on "click" this.changeTabToPageviews}}>
        <Stats::Parts::Metric
            @label="Site Pageviews"
            @value="967" />
    </button>

    <button type="button" class="gh-stats-tab {{if this.avgVisitTimeTabSelected 'is-selected'}}" {{on "click" this.changeTabToAvgVisitTime}}>
        <Stats::Parts::Metric
            @label="Avg Visit Time"
            @value="16m" />
    </button>

    <button type="button" class="gh-stats-tab {{if this.bounceRateTabSelected 'is-selected'}}" {{on "click" this.changeTabToBounceRate}}>
        <Stats::Parts::Metric
            @label="Bounce Rate"
            @value="4%" />
    </button>
</div>
<Dashboard::Charts::Kpis @chartDays={{@chartDays}} @selected={{this.selected}} />