<section class="gh-canvas gh-canvas-sticky ">
    <GhCanvasHeader class="gh-canvas-header sticky break tablet post-header">
        <GhCustomViewTitle @title="Stats" />

        <section class="view-actions">
            [TK] Date range
        </section>
    </GhCanvasHeader>

    <section class="view-container gh-stats">
        <section class="gh-stats-container">
            <Dashboard::Charts::KpisOverview @chartDays={{this.days}} />
        </section>

        <section class="gh-stats-grid cols-2">
            <div class="gh-stats-container">
                <h5 class="gh-stats-metric-label">Top posts & pages</h5>
                <Dashboard::Charts::TopPages @chartDays={{this.days}} />
            </div>
            <div class="gh-stats-container">
                <h5 class="gh-stats-metric-label">Sources</h5>
                <Dashboard::Charts::TopSources @chartDays={{this.days}} />
            </div>
        </section>

        <section class="gh-stats-grid cols-2">
            <div class="gh-stats-container">
                <h5 class="gh-stats-metric-label">Top locations</h5>
                <Dashboard::Charts::TopLocations @chartDays={{this.days}} />
            </div>
            <div class="gh-stats-container">
                <Dashboard::Charts::TechnicalOverview @chartDays={{this.days}} />
            </div>
        </section>

    </section>
</section>
